.row{
    margin-left: 155px;
}
.menu{
    display: none;
    height: 500px;
    margin-top: 20px;
}
.ul-w, .li-w{
    width: 100%;
}
.btn-group .bootstrap-select .show-tick .open{
    width: 500px;
}
.select{
    width: 500px;
}
.panel-text{
    height: 40px;
    border: 1px solid lightgray;
}
.img-form{
    display: none;
}

#message{
    position: fixed;
    z-index: 1;
    width: 90%;
    margin-left: -150px;
}
#3rdStep, .th-next{
    margin-left: 43%;
}
h2{
    text-align: center;
}
.img-form{
    height: 500px;
}