.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    height: 500px;
    overflow: hidden;
}

.item.list-group-item
{
    float: none;
    width: 97.5%;
    background-color: #fff;
    margin-bottom: 10px;
    margin-left: 14px;
}

.list-group-item-heading{
    margin-bottom: -10px;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;

}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
.delete-movie{
    float: right;
}
#id{
    display: none;
}
.list-group-image{
    display: block;
}
.well{
    margin-bottom: 0px;
}
.list-group-item .thumbnail{
    height: 270px;
}
#addMovie{
    margin-right: 20px;
}
#message{
    position: fixed;
    z-index: 1;
    width: 90%;
    margin-left: 75px;
}
#search{
    padding-bottom: 11px;
}



